* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: #121a26;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #333; /* color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #666; /* color of the scrollbar thumb */
}
